// Colors
$blick: rgb(226, 0, 0);
$gray: #f7f7f7;
$gray-hr: #c9c9c9;
$gray-hr-light: #dedede;

// Breakpoints
$xs: 300px;
$sm: 400px;
$md: 640px; // Breakpoint pour iframe 632px (desktop first)
$lg: 970px; // Breakpoint pour iframe 964px (desktop first)

$mobile: 630px; // Mobile breakpoint

